.messenger {
    height: 100vh;
    display: flex;
    width: 100vw;
    background-color: #fff;
}

.chatMenu {
    flex: 3.5;
    background-color: #fff;
}

.chatBox {
    flex: 5.5;
    height: 100vh;
    .chatBoxWrapper {
        height: 70vh;
        overflow-y: auto;
    }
    .chatBoxBottom {
        height: calc(30vh - 20px);
        .box-chat {
            height: 80px;
            width: 90%;
        }
    }
}

.chatOnline {
    flex: 3;
    background-color: #fff;
}

.chatMenuWrapper,.chatBoxWrapper,.chatOnlineWrapper {
    padding: 10px;
    // height: 100%;
}

// .chatBoxBottom {
//     position: relative;
//     .emoji-icon {
//         width: 50px;
//         position: absolute;
//         right: 70px;
//     }
//     .box-icon {
//         position: absolute;
//         top: -300px;
//     }
// }

